<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>登入</title>
</head>
<body>
    <h1>登入</h1>
    <form id="login">
        <label>用户名: <input type="text" id="Username" name="username" autocomplete="username"></label>
        <label>密码: <input type="password" id="Password" name="password" autocomplete="current-password"></label>
        <button type="submit">登入</button>
        <div id="response_login"></div>
    </form>
    <script src="/static/js/script.js"></script>
    <a href="useraction" class="btn btn-primary">帳戶操作</a>
</body>
</html>