<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>NBA今日比分</title>
    <link rel="stylesheet" type="text/css" href="/static/css/today_scoreboard.css">
</head>
<body>
    <h1>NBA今日比分</h1>
    <div class="user-info">
        <span class="user-name">未登入</span>
    </div>
    <table>
        <tr>
            {% for column in column_names %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <script src="/static/js/script.js"></script>
</body>
</html>